.app-container {
  text-align: center; 
}

.title {
  color: rgb(248, 164, 216);
}

.notebook {
  position: relative;
  width: 95%; 
  margin: auto;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f7f7f7;
}

.pages-container {
  display: flex;
  align-items: start;
  /* justify-content: center;  */
  overflow-x: scroll;
  padding-right: 50px; 
}

.add-page-btn {
  position: absolute;
  top: 50%;
  right: 10px; 
  background-color: rgba(240, 138, 138, 0.7); 
  border: none;
  color: white;
  cursor: pointer;
  z-index: 10;
}
