/* Define variables for Light mode */
:root {
  --app-container-bg: #fff;
  --title-color: rgb(248, 164, 216);
  --notebook-bg: #f7f7f7;
  --add-page-btn-bg: rgba(240, 138, 138, 0.7);
  --current-date-color: rgb(248, 164, 216);
  --toggle-btn-label-text-colour: rgb(248, 164, 216);
}

/* Define variables for Dark mode */
[data-theme='dark'] {
  --app-container-bg: rgb(64, 63, 75);
  --title-color: rgb(243, 51, 185);
  --notebook-bg: rgb(64, 63, 75);
  --add-page-btn-bg: rgb(243, 51, 185);  /* If you want to change this for dark mode, update here */
  --current-date-color: rgb(243, 51, 185);
  --toggle-btn-label-text-colour: rgb(243, 51, 185);
}

.header {
  display: flex;
  justify-content: space-between; 
  align-items: center; /* This will align them vertically */
  width: 100%;
} 

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  background-color: var(--app-container-bg);
}

.title {
  color: var(--title-color);
  padding-left: 35px;
}

.notebook {
  position: relative;
  width: 95%; 
  margin: auto;
  padding: 20px;
  background-color: var(--notebook-bg);
}

.pages-container {
  display: flex;
  align-items: start;
  overflow-x: scroll;
  padding-right: 50px; 
  margin-bottom: 15px;
}

/* Scrollbar styling */
.pages-container::-webkit-scrollbar {
  width: 5px;  /* Width of the vertical scrollbar */
  border-radius: 50%;
}

.pages-container::-webkit-scrollbar-track {
  background: rgb(72, 71, 84);  /* Color of the track */
}

.pages-container::-webkit-scrollbar-thumb {
  background: rgb(243, 51, 185);  /* Color of the scroll thumb */
}

.pages-container::-webkit-scrollbar-thumb:hover {
  background: rgb(212, 45, 162);  /* Color of the scroll thumb on hover */
}

.add-page-btn {
  position: absolute;
  top: 50%;
  right: 10px; 
  background-color: var(--add-page-btn-bg); 
  border: none;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.current-date {
  position: absolute;
  top: 10px; 
  right: 15px;  
  font-size: 1em; 
  color: var(--current-date-color);
  z-index: 10;
}

#toggle-btn-label {
  color: var(--toggle-btn-label-text-colour);
  margin-top: 4px; 
  margin-right: 5px;
}

/* Toggle Switch Container */
.switch-container {
  position: relative;
  /* display: inline-block; */
  width: 30px;
  height: 16px;
  align-self: flex-end;
  margin-top: 25px; 
  margin-right: 30px;
  margin-bottom: 20px;
  justify-content: flex-start; /* Align items to the start (left) */
  /* border:2px solid red; */
}

/* New Wrapper Styles */
.switch-label-toggle-wrapper {
  display: flex;
  align-items: center;  /* Align items vertically center */
  /* border:2px solid yellow; */
}

/* Toggle Switch */
.switch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Toggle Slider */
.slider {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 7px;
  transition: transform 0.3s ease;
}

/* Dark Mode Toggle Styles */
[data-theme='dark'] .switch {
  background-color: #555;
}

[data-theme='dark'] .slider {
  transform: translateX(16px);
}